@font-face {
	font-family: "inter";
	src: url("fonts/inter.ttf") format("truetype-variations");
	font-weight: 100 900;
	font-display: swap;
}

@font-face {
	font-family: "cera";
	src: url("fonts/cera-pro.otf") format("opentype");
	font-display: swap;
}

body {
	opacity: 0;
}

* {
	font-family: inter, sans-serif;
	font-size: 0.9rem;
	letter-spacing: 1.8px;
}

h1,
h2 {
	font-family: cera, sans-serif;
	font-size: 4rem;
	letter-spacing: 4.1px;
}

h1 a {
	font-size: 4rem;
}

h1 a:hover,
h2 a:hover {
	text-decoration: underline;
}

h2 {
	font-size: 3rem;
	line-height: 4rem;
}

h2 a {
	font-size: 3rem;
}

h3,
h4 {
	font-family: cera, sans-serif;
	font-size: 2.2rem;
	line-height: 3.5rem;
	letter-spacing: 3px;
}

h4 {
	font-size: 1.5rem;
	line-height: 2.5rem;
	letter-spacing: 1px;
}

small {
	font-size: 0.8rem;
	line-height: 1.8rem;
}

.smaller {
	font-size: 0.7rem;
	font-style: italic;
}

a,
a:hover,
span {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	text-decoration: inherit;
}

canvas {
	position: absolute;
	top: 0;
	z-index: -1;
}

#canvas {
	width: 100vw;
	height: 100vh;
}

#menu {
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	padding: 4rem 4rem;
	display: flex;
	gap: 2rem;

	span {
		font-size: 0.85rem;
		line-height: 1.5rem;
		text-underline-offset: 0.5rem;
		cursor: pointer;
	}

	span:hover {
		text-decoration: underline;
		text-underline-offset: 0.5rem;
	}

	#home {
		margin-right: auto;
		text-underline-offset: 0.5rem;
	}
}

::-webkit-scrollbar {
	display: none;
}

#snapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 4rem;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;

	> div {
		display: flex;
		flex-direction: column;
	}
}

#landing {
	gap: 0;
}

.snap {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	scroll-snap-align: center;
	scroll-snap-stop: always;
}

#name {
	text-decoration: underline;
}

.dud {
	color: #757575;
}

#bio {
	padding: 0.5rem 3rem 0 0;
}

#cursor {
	animation: blink 1s step-start infinite;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

#pagination {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 4rem 4rem;
	align-items: center;

	#count {
		font-size: 0.8rem;
	}
}

#transition {
	opacity: 0;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;

	> div {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

#screen {
	background-color: #ffffff;
	opacity: 0;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	overflow: none;
}

.wrapper {
	opacity: 0;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow: none;
}

.dialog {
	background-color: #ffffff;
	border: 2px solid #000000;
	border-radius: 25px;
	width: 33%;
	padding: 1rem 3rem 4rem 3rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.close {
	display: flex;
	h3 {
		margin-left: auto;
		cursor: pointer;
	}
}

.folders {
	display: flex;
	justify-content: space-between;
	padding-bottom: 3rem;
}

.column {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	gap: 2rem;

	p {
		font-size: 0.8rem;
		margin: 0;
	}
}

.column:last-of-type {
	margin-right: 2rem;
}

.folder {
	min-width: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 0.5rem;

	img {
		width: 3.5rem;
		height: auto;
		cursor: pointer;
	}

	small {
		margin-top: 0.5rem;
		font-size: 0.7rem;
		line-height: 1rem;
	}
}

#projects .dialog {
	width: 40%;
	padding-bottom: 1.5rem;

	#duckling img:hover {
		cursor: default;
	}
}

#experiments .dialog {
	width: 30%;
	padding-bottom: 1.5rem;

	.folders {
		justify-content: start;
		gap: 4rem;
	}
}

#tooltip {
	position: absolute;
	padding: 1rem 2rem 1rem 1rem;
	font-size: 0.75rem;
	line-height: 1.2rem;
	background-color: #ffffff;
	border: 1.25px solid #000000;
	border-radius: 15px;
	width: 16rem;
	z-index: 4;
}

#captcha input {
	border: none;
	border-bottom: 4px solid #000000;
	outline: none;
	font-family: cera, sans-serif;
	font-size: 2.2rem;
	line-height: 3.5rem;
	letter-spacing: 3px;
}

#captcha input::placeholder {
	color: #dddddd;
}

#transition {
	z-index: 100;
}

#kaomoji {
	font-size: 10rem;
}

#main {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 4rem;
	gap: 4rem;
	overflow: none;
}

#hook {
	min-width: 35%;
	max-width: 35%;
	flex-grow: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding-top: 15%;
	padding-bottom: 5%;
	overflow: scroll;

	h3 {
		line-height: 3rem;
	}

	#tools {
		color: #777777;
		margin-top: 0.5rem;
		margin-bottom: 1rem;
		line-height: 1.75rem;
	}

	#date {
		margin-bottom: 3.5rem;
	}

	#audio {
		display: flex;
		align-items: center;
		gap: 1rem;

		#playback {
			width: 2.5rem;
			height: 2.5rem;

			img {
				width: 100%;
				height: 100%;
				cursor: pointer;
			}
		}

		h4 {
			margin: 0;
		}
	}

	#transcript {
		margin-top: 2rem;
		margin-bottom: 1rem;
		color: #777777;
		cursor: pointer;
	}

	#transcript:hover {
		text-decoration: underline;
		text-underline-offset: 0.5rem;
	}

	#script {
		letter-spacing: 1px;
	}
}

#gallery {
	flex-grow: 1;
	height: 100%;
	padding-top: 10%;
	padding-bottom: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4rem;
	overflow-y: scroll;

	.image {
		width: 100%;
		height: auto;
		position: relative;
	}

	img {
		width: 100%;
		height: auto;
	}

	.caption {
		position: absolute;
		top: calc(100% - 1.5rem);
		left: 5%;
		padding: 0.75rem 1rem 0.75rem 1rem;
		font-size: 0.75rem;
		line-height: 1.2rem;
		background-color: #ffffff;
		border: 1.25px solid #000000;
		border-radius: 15px;
		width: fit-content;

		p {
			margin: 0;
			padding: 0;
			font-size: 0.75rem;
			letter-spacing: 1.2px;
		}
	}

	.video {
		position: relative;
		width: 100%;

		video {
			width: 100%;
			height: auto;
		}

		.playback {
			background-color: rgba($color: #ffffff, $alpha: 0.5);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				width: 3rem;
				height: 3rem;
				cursor: pointer;
			}
		}
	}

	img.border {
		border: 1px solid #eaeaea !important;
	}
}

#links {
	min-width: 10%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4rem;
}

#social {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 8%;

	#me {
		display: inline-block;
		border-bottom: 4px dashed #000;
		cursor: default;
	}

	#email {
		cursor: pointer;
	}

	a {
		text-decoration: underline;
	}
}

#draw {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: #aaaaaa;
}

#tooltip2 {
	position: absolute;
	display: flex;
	flex-direction: column;

	#send,
	#erase {
		position: relative;
		padding: 1rem 2rem 1rem 1rem;
		font-size: 0.8rem;
		cursor: pointer;
		background-color: #ffffff;
		border: 1.25px solid #000000;
		min-width: 15rem;
	}

	#send {
		border-radius: 15px 15px 0 0;
		overflow: hidden;
	}

	#send span {
		position: relative;
		z-index: 1;
	}

	#overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 0%;
		background: #eeeeee;
		z-index: 0;
	}

	#erase {
		border-radius: 0 0 15px 15px;
		border-top: none;
	}

	#send:hover,
	#erase:hover {
		background-color: #f7f7f7;
	}
}

#popup {
	position: absolute;
	pointer-events: none;

	> img {
		height: 50vh;
		box-shadow: -5px 5px 20px #e8e8e8;
	}
}

.extra {
	border-bottom: 2px dashed #000;
}

#small {
	display: none;
	background-color: #ffffff;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	overflow: none;
	z-index: 1000;
	flex-direction: column;
	gap: 2em;
	align-items: center;
	padding: 40% 2rem 0 2rem;
	text-align: center;

	h3 {
		line-height: 3rem;
	}

	img {
		height: 5rem;
		width: auto;
	}
}

@media (max-width: 768px) {
	#large {
		display: none;
	}

	#small {
		display: flex;
	}
}
