* {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 2px;
}

#menu {
  z-index: 2;
}

#menu a, #menu i {
  line-height: 2rem;
  text-underline-offset: 0.5rem;
}

.page:hover, .project:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  cursor: pointer;
}

.small:hover {
  font-size: 0.8rem;
}

canvas {
  position: absolute;
  top: 0;
  z-index: -1;
}

#main {
  height: 100vh;
}

h1, h2 {
  font-family: "Cera Pro", sans-serif;
  font-size: 4.3rem;
  letter-spacing: 4px;
}

h2 {
  font-size: 3.5rem;
}

a, a:hover {
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}

span {
  font-size: inherit;
  letter-spacing: inherit;
}

.dud {
  color: #757575;
}

#open, #mode, #projects, #play {
  cursor: pointer;
}

#works {
  height: 100vh;
  width: 0px;
  background: #FFF;
}

#list2 {
  height: 100vh;
  opacity: 0;
}