body {
  opacity: 0;
}

* {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 2px;
}

#menu a, #menu i {
  line-height: 2rem;
  text-underline-offset: 0.5rem;
}

.page:hover, .project:hover, #draw:hover, #link:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.small:hover {
  font-size: 0.8rem;
}

canvas {
  position: absolute;
  top: 0;
  z-index: -1;
}

#landing {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.main {
  height: 100vh;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.space {
  margin-top: 15%;
}

h1, h2 {
  font-family: "Cera Pro", sans-serif;
  font-size: 4.3rem;
  letter-spacing: 4px;
}

h1 a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-family: "Cera Pro", sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 1px;
}

h4 {
  font-family: "Cera Pro", sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 1px;
}

h4:last-of-type {
  margin-bottom: 20%;
}

a, a:hover, span {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}

.extra {
  border-bottom: 2px dashed #000;
}

img {
  width: 40vw;
  height: auto;
}

.dud {
  color: #757575;
}

#projects, #play, #draw {
  cursor: pointer;
}

#transition {
  opacity: 0;
}

#kaomoji {
  font-size: 10rem;
}