* {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 2px;
}

#menu {
  z-index: 2;
}

#menu a, #menu i {
  line-height: 2rem;
  text-underline-offset: 0.5rem;
}

.page:hover, .project:hover {
  text-decoration: underline;
  cursor: pointer;
}

canvas {
  position: absolute;
  top: 0;
  z-index: -1;
}

#main {
  height: 100vh;
}

h1, h2 {
  font-family: "Cera Pro", sans-serif;
  font-size: 4.3rem;
  letter-spacing: 4px;
}

h2 {
  font-size: 3.5rem;
}

a, a:hover {
  color: inherit;
  text-decoration: inherit;
}

span {
  font-size: inherit;
  letter-spacing: inherit;
}

.dud {
  color: #757575;
}

#open, #mode, #projects, #play {
  cursor: pointer;
}

#works {
  height: 100vh;
  width: 0px;
  background: #F5F5F5;
}

.slide {
  height: 100vh;
  opacity: 0;
}

.photo {
  width: 100%;
}

.label {
  font-size: 0.7rem;
  letter-spacing: 1px;
}